---
layout: default
permalink: /submission
---

<style>
	.page_wise_banner {
		background-image: url('assets/img/banner/bg-7.jpg');
		background-position: center center;
	}

</style>

<!--  SERVICE AREA START  -->
<section class="section-padding">
	<div class="container">

		<div class="row align-items-center">
			<div class="col-lg-12 col-sm-12 col-md-12 mb-4">
				<h3 class="mb-3">Paper Preparation Guidelines</h3>
				<p class="mb-4">
					Prospective authors are invited to submit original technical full papers by the deadline October 05,
					2019, for publication and presentation during the conference.
				</p>
				<p class="mb-4">
					When preparing your final manuscript, please pay attention to the following:
				</p>

				<ul class="about-list2 my-4">
					{% for data in site.data.guidelines %}
					<li class="mb-2">
						<i class="icofont icofont-check-circled"></i>
						{{ data }}
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="row align-items-center">
			<div class="col-lg-12 col-sm-12 col-md-12 mb-4">
				<h3 class="mb-3">Submit Your Manuscript</h3>
				<p class="mb-4">
					Papers must be submitted as full paper electronically via the given link:
					<a
						href="https://easychair.org/conferences/?conf=ncai2020">https://easychair.org/conferences/?conf=ncai2020</a>
				</p>
			</div>
		</div>

		<div class="row align-items-center">
			<div class="col-lg-12 col-sm-12 col-md-12 mb-4">
				<h3 class="mb-3">Instructions for Authors</h3>

				<ul class="about-list2 my-4">
					{% for data in site.data.instructions %}
					<li class="mb-2">
						<i class="icofont icofont-check-circled"></i>
						{{ data }}
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

	</div>
</section>
<!--  ABOUT AREA END  -->
