<!--  COUNTER AREA START  -->
<section id="counter" class="section-padding">
	<div class="overlay dark-overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-12">
				<div class="counter-stat">
					<span class="counter">{{ site.date1 }}</span>
					<h5>Last Date For Paper Submission</h5>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div class="counter-stat">
					<span class="counter">{{ site.date2 }}</span>
					<h5>Notification Of Acceptance</h5>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div class="counter-stat">
					<span class="counter">{{ site.date3 }}</span>
					<h5>Last Date For Registration</h5>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  COUNTER AREA END  -->
