<!-- PRICE AREA START  -->
<section id="pricing" class="section-padding bg-main">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 m-auto">
				<div class="section-heading">
					<h4 class="section-title">Registration Fee</h4>
				</div>
			</div>
		</div>

		<!-- ============== for participants ============== -->
		<h4 class="section-title color-purple">For Participants</h4>

		<!-- section 1 -->
		<h4 class="section-sub-title">Early Bird Registration</h4>
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="pricing-block ">
					<div class="price-header">
						<h4 class="price"><span>₹</span>500</h4>
						<h5>Students(UG & PG)</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6">
				<div class="pricing-block">
					<div class="price-header">
						<h4 class="price"><span>₹</span>750</h4>
						<h5>Others</h5>
					</div>
				</div>
			</div>
		</div>

		<!-- section 2 -->
		<h4 class="section-sub-title mt-3">Spot Registration</h4>
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="pricing-block ">
					<div class="price-header">
						<h4 class="price"><span>₹</span>700</h4>
						<h5>Students(UG & PG)</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6">
				<div class="pricing-block">
					<div class="price-header">
						<h4 class="price"><span>₹</span>950</h4>
						<h5>Others</h5>
					</div>
				</div>
			</div>
		</div>

		<!-- ============== for authors ============== -->
		<h4 class="section-title color-purple mt-5">For Authors</h4>

		<!-- section 1 -->
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="pricing-block ">
					<div class="price-header">
						<h4 class="price"><span>₹</span>1500</h4>
						<h5>Students (UG & PG)</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6">
				<div class="pricing-block">
					<div class="price-header">
						<h4 class="price"><span>₹</span>1500</h4>
						<h5>Research Scholars</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 mt-lg-4">
				<div class="pricing-block">
					<div class="price-header">
						<h4 class="price"><span>₹</span>1750</h4>
						<h5>Academicians</h5>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 mt-lg-4">
				<div class="pricing-block">
					<div class="price-header">
						<h4 class="price"><span>₹</span>2000</h4>
						<h5>Industry Participant</h5>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- PRICE AREA END  -->
