<!-- PRICE AREA START  -->
<section id="pricing" class="section-padding bg-main">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 m-auto">
				<div class="section-heading">
					<h4 class="section-title">Registration Fee</h4>
					<!-- <p>We have different type of pricing table to choose with your need. Check which one is most suitble
							for you and your business purpose. </p> -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="pricing-block ">
					<div class="price-header">
						<i class="flaticon-start"></i>

						<h4 class="price"><span>₹</span>{{ site.fee1 }}</h4>
						<h5>PG Students / Research Scholars</h5>
					</div>
					<!-- <a href="#" class="btn btn-hero btn-circled">select plan</a> -->
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="pricing-block">
					<div class="price-header">
						<i class="flaticon-training"></i>

						<h4 class="price"><span>₹</span>{{ site.fee2 }}</h4>
						<h5>Academicians</h5>
					</div>
					<!-- <a href="#" class="btn btn-hero btn-circled">select plan</a> -->
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="pricing-block">
					<div class="price-header">
						<i class="flaticon-idea"></i>

						<h4 class="price"><span>₹</span>{{ site.fee3 }}</h4>
						<h5>Participants From Industries</h5>
					</div>
					<!-- <a href="#" class="btn btn-hero btn-circled">select plan</a> -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- PRICE AREA END  -->
