<div class="banner-area banner-overall-class page_wise_banner">
	<div class="overlay dark-overlay"></div>
	<div class="d-table">
		<div class="d-table-cell">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
						<div class="banner-content content-padding">
							<h5 class="subtitle">{{ site.date }}</h5>
							<h1 class="banner-title">{{ site.big_title }}</h1>
							<p>ORGANIZED BY</p>
							<h3 class="banner-title-1">Department of Computer Science and Engineering</h3>

							<a href="#" class="btn btn-white btn-circled mt-5">Register Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
